@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

.title {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: white;
}

.loading {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: white;
}

/*devices (Ipads and phones, 820px and down) */
@media only screen and (max-width: 820px) {
    .title {
        margin-top: 40px;
        font-size: 30px;
    }

    .searchBox {
        width: 60%;
    }

    .scroll {
        overflow-y: scroll; 
        height: 900px;
    }
}